<div class="pokemon-card" style="--color: #33cc54">
  <div class="pokemon-card-header">
    <div class="pokemon-card-header-title">
      <p class="pokemon-card-num">001</p>
      <p class="pokemon-card-name">Bulbizzarre</p>
      <p class="pokemon-card-pv">
        <span class="pv-text">PV</span><span>64</span>
      </p>
    </div>
    <img class="pokemon-card-image" src="./img/full/1.png" alt="Bulbizzarre" />
  </div>
  <div class="pokemon-card-stats">
    <div class="pokemon-card-stat">
      <span class="pokemon-card-stat-icon material-symbols-outlined">star</span>
      <div class="pokemon-card-stat-content">
        <p class="pokemon-card-stat-title">Capacité</p>
        <p class="pokemon-card-stat-description">Nom de capacité</p>
      </div>
      <p class="pokemon-card-stat-value">15</p>
    </div>
    <div class="pokemon-card-stat">
      <span class="pokemon-card-stat-icon material-symbols-outlined">star</span>
      <div class="pokemon-card-stat-content">
        <p class="pokemon-card-stat-title">Capacité</p>
        <p class="pokemon-card-stat-description">Nom de capacité</p>
      </div>
      <p class="pokemon-card-stat-value">15</p>
    </div>
    <div class="pokemon-card-stat">
      <span class="pokemon-card-stat-icon material-symbols-outlined">star</span>
      <div class="pokemon-card-stat-content">
        <p class="pokemon-card-stat-title">Capacité</p>
        <p class="pokemon-card-stat-description">Nom de capacité</p>
      </div>
      <p class="pokemon-card-stat-value">15</p>
    </div>
  </div>
</div>
